@model BookModel
@{ 
    ViewData["Title"] = "Add new book";
}
<form method="post" asp-action="AddNewBook" asp-controller="Book">
    <div class="container">
        <h3 class="display-4">Add new book</h3>
        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Add new book successfully!</strong> You have add new book successfully!<br />
                Click <a asp-controller="book" asp-action="GetBook" asp-route-id="@ViewBag.BookId">here</a> to view details
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TotalPages"></label>
            <input asp-for="TotalPages" class="form-control" />
            <span asp-validation-for="TotalPages" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Language"></label>
            <select asp-for="Language" class="form-control">
                <option value="">Please select a language</option>
                <option selected>English</option>
                <option>Franch</option>
                <option>Spanish</option>
            </select>
            <span asp-validation-for="Language" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PublishedDate"></label>
            <input asp-for="PublishedDate" class="form-control" />
            <span asp-validation-for="PublishedDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Add book" class="btn btn-primary" />
        </div>
    </div>
</form>

