
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body>
    <img class="logo" src="~/images/apple.png" alt="logo"/>
    <img src="~/MyStaticFiles/Niki.png" alt="Niki"/>
    <h1>Welcome to book store application</h1>
    <p>@DateTime.Now.ToString("MM/dd/yyyy") home page</p>
</body>
</html>
