
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body class="container">
    <img class="logo" src="~/images/apple.png" alt="logo" />
    <img src="~/MyStaticFiles/Niki.png" alt="Niki" />
    <h1 class="h1">Welcome to book store application</h1>
    <p>@DateTime.Now.ToString("MM/dd/yyyy") home page</p>
    <hr />
    <br />
    <input type="button" value="Click me" class="btn btn-danger" />
</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>
<script>
    $(document).ready(function () {
        alert("Page loaded!");
    });
</script>
