body {
}

.logo {
    height:300px;
    width:400px;
}

.jumbotron {
    background: none
}

html {
    position:relative;
    min-height:100%;
}

body {
    margin-bottom:60px;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
    white-space: nowrap;
    line-height:60px;
}

.membership-img {
    width:80%;
}

.main-content {
    height:90%;
    bottom:50px;
}